profiles {

    standard {
        process.executor = 'local'
    }

    cluster{
        process.executor='lsf'
        process.queue='production-rh74'
        process.clusterOptions = '-R \"select[hname!=\'hx-noah-05-02\']\"'

        executor.queueSize=1000
        executor.perJobMemLimit=false
        executor.exitReadTimeout='100000 sec'
        executor.pollInterval = '5sec'

        //conda.cacheDir = "${baseDir}/envs" // TODO: sort out this path 
        conda.createTimeout = "30 min"
    } 
}

params {
    

    data_import{
        training_dataset_ids="${baseDir}/data/test.txt"
        config_file = "${baseDir}/data/scxa_import_config.yaml"
        expr_data_type = "normalised"
        norm_method = "TPM"
        get_sdrf = "TRUE"
        get_cond_sdrf = "TRUE"
        get_idf = "TRUE"
        get_marker_genes = "TRUE"
    }


    garnett{
        run = "false" // boolean - should the sub-workflow be run?

    }

    scmap_cell{
        run = "false"

    }

    scmap_cluster{
        run = "false"

    }

    scpred{
        run = "false"

    }







}