profiles {

    standard {
        process.executor = 'local'
        conda.cacheDir = "$WORKFLOW_ROOT/cached_envs"
    }

    cluster{
        process.executor='lsf'
        process.queue='production-rh74'
        process.clusterOptions = '-R \"select[hname!=\'hx-noah-05-02\']\"'

        executor.queueSize=1000
        executor.perJobMemLimit=false
        executor.exitReadTimeout='100000 sec'
        executor.pollInterval = '5sec'

        conda.cacheDir = "$WORKFLOW_ROOT/cached_envs" // TODO: sort out this path 
        conda.createTimeout = "30 min"
    } 
}

params {
    profile = "standard"

    data_import {
        training_dataset_ids="${baseDir}/data/test.txt"
        config_file = "${baseDir}/data/scxa_import_config.yaml"
        get_sdrf = "TRUE"
        get_cond_sdrf = "TRUE"
        get_idf = "TRUE"
        get_marker_genes = "TRUE"
    }

    unmelt_sdrf {
        run = "False"
        retain_types = "TRUE"
    }

    garnett {
        run = "True" // boolean - should the sub-workflow be run (True/False)?
        training_10x_dir = "$baseDir/data/data_10X"
        training_cds_gene_id_type = "ENSEMBL"
        training_dataset_id = ""
        marker_genes = ""
        pval_col = "pvals"
        groups_col = "cluster"
        gene_names = "genes"
        database = "org.Hs.eg.db"
        marker_gene_id_type = "ENSEMBL"
        classifier_gene_type = "ENSEMBL"
        n_outgroups=50
    }

    scmap_cell{
        run = "True"
        results_dir = "${baseDir}/outputs" // output for outer WF 
        training_10x_dir = "${baseDir}/data/data_10X"
        training_metadata = "${baseDir}/data/unmelted_sdrf.tsv"
        training_dataset_id = "foo"
        col_names = "TRUE"
        cell_id_col = "Comment.ENA_RUN."
        cluster_col = "Characteristics.cell.type."
        threshold = 0.1
        //num_chunks = 'NULL'
        //num_clusters = 'NULL'
        //num_nearset_neighbours

    }

    scmap_cluster{
        run = "False"
        results_dir = "${baseDir}/outputs" // output for outer WF 
        training_10x_dir = "${baseDir}/data/data_10X"
        training_metadata = "${baseDir}/data/unmelted_sdrf.tsv"
        training_dataset_id = "foo"
        col_names = "TRUE"
        cell_id_col = "Comment.ENA_RUN."
        cluster_col = "Characteristics.cell.type."
        threshold = 0.1
        //num_chunks = 'NULL'
        //num_clusters = 'NULL'
        //num_nearset_neighbours
    }

    scpred{
        run = "False"
        results_dir = "${baseDir}/outputs" // specify output when in nested workflow
        method="prediction" //must be 'evaluation' or 'prediction'
        training_10x_dir = "$baseDir/data/test_10X_data"
        metadata_file = "$baseDir/data/test_metadata.txt"
        eigenvalue_plot_path = 'eigenvalue_plot.png'
        train_probs_plot_path = 'train_probs.png'
        normalised_counts_slot = 'counts'
        cell_id_col_name = "Comment.ENA_RUN."
        cell_types_col_name = "Characteristics.cell.type."
        col_names = "TRUE"
        trained_model = "scpred_trained_model.rds"
        log_transform = "TRUE"
        model = 'svmRadial' 
    }
}

env {
    TRAIN_WORKFLOWS = "${baseDir}/cell-types-train-workflows"
    WORKFLOW_ROOT="$WORKFLOW_ROOT"  
}
